[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%aN)%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lgf = "!_() { local SHA=`git lg | fzf --no-sort --ansi | sed 's/^[^a-z0-9]*//;/^$/d' | awk '{print $1}'`; [ -n \"${SHA}\" ] && git show ${SHA}; }; _"
  new = !bash -c 'git lg $1@{1}..$1@{0} "$@"'
  show-deleted = "!_() { local HASH=`git rev-list --max-count=1 --all -- $1`; git show ${HASH}^:$1; }; _"
  gone-branches = "!_() { git branch -vv | awk '$3 $4 ~ /:gone/ { print $1 }'; }; _"
  check-conflicts = "!_() { set -x; local BRANCH=${1-master}; local BASE=`git merge-base HEAD $BRANCH`; git format-patch $BASE..$BRANCH --stdout | git apply --3way --check -; }; _"
  root = "!pwd"

[core]
  pager = delta

[diff-so-fancy]
  stripLeadingSymbols = false

[push]
  default = current
  followTags = true

[pull]
	rebase = true

[fetch]
  prune = true

[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P

[merge "yarn-merge-driver"]
  name = automatically merge yarn lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P -c yarn

[mergetool]
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[interactive]
  diffFilter = delta --color-only

[submodule]
  recurse = true

[color]
  ui = auto

[color "branch"]
  current = "white blue bold"
  local = "white bold"
  plain = "white"
  remote  = "blue bold"

[color "decorate"]
  branch = "blue bold"
  HEAD = "white bold ul"
  remoteBranch = "blue"
  stash = "yellow"
  tag = "cyan bold"

[color "diff"]
  commit = "blue bold"
  frag = "blue bold"
  func = "white"
  meta = "cyan"
  new = "green"
  old = "red"
  plain = "white"
  whitespace = "white reverse"

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "white red bold"
  newNormal = "green bold"
  newHighlight = "white green bold"

[color "grep"]
  context = "white"
  filename = "white dim ul"
  function = "white"
  linenumber = "white dim bold"
  match = "blue bold"
  selected = "white"
  separator = "white dim"

[color "interactive"]
  error = "red bold"
  header = "blue bold"
  help = "white dim"
  prompt = "cyan"

[color "status"]
  added = "green bold"
  changed = "yellow bold"
  header = "white"
  nobranch = "magenta bold ul"
  unmerged = "blue ul"
  untracked = "red bold"
  updated = "cyan bold"

[include]
  path = .gitconfig.local

[init]
	defaultBranch = main

# Frappe with Mocha surfaces, overlays, and base
[delta "catppuccin-frappe"]
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = "#6c7086" bold box ul
	dark = true
	file-decoration-style = "#6c7086"
	file-style = "#c6d0f5"
	hunk-header-decoration-style = "#6c7086" box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a5adce"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = bold "#e78284"
	line-numbers-plus-style = bold "#a6d189"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 35% red 65% base
	minus-emph-style = bold syntax "#704f5c"
	# 20% red 80% base
	minus-style = syntax "#544452"
	# 35% green 65% base
	plus-emph-style = bold syntax "#596b5e"
	# 20% green 80% base
	plus-style = syntax "#475453"
	map-styles = \
		bold purple => syntax "#66597e", \
		bold blue => syntax "#505d81", \
		bold cyan => syntax "#546b7a", \
		bold yellow => syntax "#6f6860"
	# Should match the name of the bat theme
	syntax-theme = Catppuccin Frappe

[delta]
  features = catppuccin-frappe
  navigate = true
